@model IEnumerable<CMS_NetCore.DomainClasses.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AliasName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AliasName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsGroup.AliasName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NewsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
