@model CMS_NetCore.DomainClasses.Menu

<div id="editor-ltr" hidden></div>

<form asp-action="Edit" role="form" method="post">
    <input id="pastParentId" name="pastParentId" type="hidden" asp-for="ParentId" />
    <input id="pastDisOrder" name="pastDisOrder" type="hidden" asp-for="DisplayOrder" />
    <input id="pastGroupId" name="pastGroupId" type="hidden" asp-for="MenuGroupId" />
    <input type="hidden" asp-for="Id" />
    <div class="portlet box border shadow">
        <div class="portlet-heading">
            <h2 class="col-md-10">افزودن @Html.DisplayNameFor(model => model)</h2>
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-info btn-round">
                    <i class="icon-check"></i>
                    ذخیره
                </button>
                <a asp-action="Index" asp-route-id="@Model.MenuGroupId" class="btn btn-warning btn-round">
                    <i class="icon-close"></i>
                    بازگشت
                </a>
            </div>
        </div>
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class=" col-md-8">
                    <div class="form-group">
                        <label asp-for="MenuTitle" class="control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="MenuTitle" class="form-control" />
                            <span asp-validation-for="MenuTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label "></label>
                        <div class="col-md-12 ">
                            <div id="editor" name="Description"></div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class=" col-md-4">
                    <div class="form-group">
                        <label asp-for="PageName" class="control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="PageName" class="form-control" />
                            <span asp-validation-for="PageName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuGroupId" class="control-label"></label>
                        <div class="col-md-12">
                            <select asp-for="MenuGroupId" class="form-control" asp-items="ViewBag.MenuGroupId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <div class="col-md-12">
                            @await Component.InvokeAsync("MenuOrder", new { parentId = Model.ParentId , menuGroupId = Model.MenuGroupId })
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentId" class="control-label"></label>
                        <div class="col-md-12">
                            <select class="form-control" id="ParentId" name="ParentId"></select>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsActive" class="control-label"></label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.IsActive, new[] {
new SelectListItem() { Text = "فعال", Value = bool.TrueString },
new SelectListItem() { Text = "غیر فعال", Value = bool.FalseString },
}, new { @class = "form-control" })
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PageType" class="control-label"></label>
                        <div class="col-md-12">
                            <select id="PageType" name="PageType" onchange="getPageContetnt()" class="form-control">
                                <option value="1">متن ساده</option>
                                <option value="2">فروشگاه</option>
                                <option value="3">مطالب</option>
                                <option value="4">منوی والد</option>
                                <option value="5">آدرس خارجی</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PageContent" id="lableContent" name="lableContent" class="control-label"></label>
                        <div class="col-md-12">
                            <div id="divContetnt" name="divContetnt">
                                <input id="PageContetnt" name="PageContetnt" type="hidden" Value="#">
                            </div>
                            <span asp-validation-for="PageContent" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Script{
    <script src="/assets/plugins/ckeditor-full/ckeditor.js"></script>
    <script src="/assets/js/pages/ckeditor.js"></script>

    <script>
        $(function () {
            $('#MenuGroupId').val('@Model.MenuGroupId').after(getSubMenu(@Model.MenuGroupId));
        });

        $(function () {
             $('#DisplayOrder').val('@Model.DisplayOrder');
        });

        $("#MenuGroupId").change(function (e) {
            getSubMenu();
        });

        getSubMenu(@Model.MenuGroupId);

        function getSubMenu(id) {
            var MenuGroupId = $("#MenuGroupId").val();
            if (id != null) {
                MenuGroupId = id
            }
            $.ajax({
                url: "/admin/Menus/MenuList/" + MenuGroupId,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#ParentId').html(result).after($("#ParentId").val(@Model.ParentId));

            });
        }

        $(function () {
            $("#PageType").val('@Model.PageType').after(getPageContetnt());
        });

        function getPageContetnt() {
            var pagetype = $("#PageType").val();
            if (pagetype == "1") {
                $('#lableContent').text("");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" type=\"hidden\" Value=\"#\">");
            }
            else if (pagetype == "2") {
                $.ajax({
                    url: "/admin/Menus/GroupsOfProduct",
                    type: "Get",
                    data: {}
                }).done(function (result) {
                    $('#lableContent').text("انتخاب گروه محصولات");
                    $('#PageContetnt').remove();
                    $('#divContetnt').html("<select class=\"form-control\" data-val=\"true\" data-val-required=\"لطفا گروه محصول را انتخاب کنید\" id=\"PageContetnt\" name=\"PageContetnt\"><option value = \"\" > --لطفا یک گروه انتخاب کنید--</option >" + result + "</select>").after(ValofPageContent());;
                });
            }
            else if (pagetype == "3") {
                $.ajax({
                    url: "/admin/Menus/GroupsOfNews",
                    type: "Get",
                    data: {}
                }).done(function (result) {
                    $('#lableContent').text("انتخاب گروه مطالب");
                    $('#PageContetnt').remove();
                    $('#divContetnt').html("<select class=\"form-control\" data-val=\"true\" data-val-required=\"لطفا گروه محصول را انتخاب کنید\" id=\"PageContetnt\" name=\"PageContetnt\"><option value = \"\" > --لطفا یک گروه انتخاب کنید--</option >" + result + "</select>").after(ValofPageContent());
                });
            }
            else if (pagetype == "4") {
                $('#lableContent').text("");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" type=\"hidden\" Value=\"#\">");
            }
            else if (pagetype == "5") {
                $('#lableContent').text("لینک URL ");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" class=\"form-control ltr text-left \" Value=\"#\">");
            }
        }

        function ValofPageContent() {
            if ($('#PageType').val() == @Model.PageType) {
                $('#PageContetnt').val('@Model.PageContent')
            }
        }
    </script>
}

