@model CMS_NetCore.DomainClasses.Message

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersFrom.UserId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersTo.UserId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MessageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
