@model CMS_NetCore.DomainClasses.Menu

 @*@section Head{

    <title>@Koshop.web.Content.Resources.Titles.SiteTitle</title>
    <meta name="keywords" content="@Model.Description">
}*@ 

@{
    Layout = null;
    if (Model.PageType == "1")
    {
        foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "Slider" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
        {
            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
        }

        <div class="an-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        @foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "SmallSlider" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                        {
                            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
                        }
                    </div>
                    <div class="col-md-4">
                        @foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "SliderSide" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                        {
                            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
                        }
                    </div>
                </div>
            </div>
        </div>

        foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "Top" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
        {
            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
        }

        <div class="an-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        @foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "Content" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                        {
                            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
                        }
                    </div>
                    <div class="col-md-3">
                        @foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "Side" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
                        {
                            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
                        }
                    </div>
                </div>
            </div>
        </div>

        foreach (var item in Model.ModulePages.Where(y => (y.MenuId == Model.Id || y.Menu.PageName == "ALLPages") && y.Module.Position.Name == "Bottom" && y.Module.IsActive == true).OrderBy(z => z.Module.DisplayOrder))
        {
            @await Component.InvokeAsync("Modules", new { id = item.ModuleId, moduleName = item.Module.Component.ModuleName, moduleType = item.Module.Component.ModuleType })
        }

        @*@section footer{
            @Html.Partial("_footer", Model)
        }*@

        @*@section script{
            <script src="/content/koshop/assets/js/ks-homeIndex.js"></script>
        }*@
    }
    @*else if (Model.PageType == "2") // product
    {
        @Html.Action("Product", "search", new { @id = Model.PageContetnt })
    }
    if (Model.PageType == "3") // blog
    {
        @Html.Action("Groups", "Blog", new { @id = Model.PageContetnt })
    }*@
}
