@model CMS_NetCore.DomainClasses.Menu

<form asp-action="Create">
    <div class="portlet box border shadow">
        <div class="portlet-heading">
            <h2 class="col-md-10">افزودن @Html.DisplayNameFor(model => model)</h2>
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-info btn-round">
                    <i class="icon-check"></i>
                    ذخیره
                </button>
                <a asp-action="Index" asp-route-id="@ViewBag.MenuGroupSelected" class="btn btn-warning btn-round">
                    <i class="icon-close"></i>
                    بازگشت
                </a>
            </div>
        </div>
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class=" col-md-8">
                    <div class="form-group">
                        <label asp-for="MenuTitle" class="control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="MenuTitle" class="form-control" />
                            <span asp-validation-for="MenuTitle" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <div class="col-md-12 ">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class=" col-md-4">
                    <div class="form-group">
                        <label asp-for="PageName" class="control-label"></label>
                        <div class="col-md-12">
                            <input asp-for="PageName" class="form-control" />
                            <span asp-validation-for="PageName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MenuGroupId" class="control-label"></label>
                        <div class="col-md-12">
                            <select asp-for="MenuGroupId" class="form-control" asp-items="ViewBag.MenuGroupId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentId" class="control-label"></label>
                        <div class="col-md-12">
                            <select id="ParentId" name="ParentId" class="form-control"></select>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsActive" class="control-label"></label>
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.IsActive, new[] {
new SelectListItem() { Text = "فعال", Value = bool.TrueString },
new SelectListItem() { Text = "غیر فعال", Value = bool.FalseString },
}, new { @class = "form-control" })
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PageType" class="control-label"></label>
                        <div class="col-md-12">
                            <select id="PageType" name="PageType" onchange="getPageContetnt()" class="form-control">
                                <option value="1">متن ساده</option>
                                <option value="2">فروشگاه</option>
                                <option value="3">مطالب</option>
                                <option value="4">منوی والد</option>
                                <option value="5">آدرس خارجی</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PageContetnt" id="lableContent" name="lableContent" class="control-label"></label>
                        <div class="col-md-12">
                            <div id="divContetnt" name="divContetnt">
                                <input id="PageContetnt" name="PageContetnt" type="hidden" Value="#">
                            </div>
                            <span asp-validation-for="PageContetnt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Script{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#Description').ckeditor();
        });
    </script>

    <script>
     $(function () {
            //Set the value of your TypeId <select>
         $('#MenuGroupId').val('@ViewBag.MenuGroupSelected');
    });
    </script>

    <script>
        $("#MenuGroupId").change(function (e) {
            getSubMenu();
        });

        getSubMenu(@ViewBag.MenuGroupSelected);
        function getSubMenu(id) {
            var MenuGroupId = $("#MenuGroupId").val();
            if (id != null) {
                MenuGroupId = id
            }

            $.ajax({
                url: "/admin/Menus/OrderOfMenus/" + MenuGroupId,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#ParentId').html(result);

            });
        }

        function getPageContetnt() {
            var pagetype = $("#PageType").val();
            if (pagetype == "1") {
                $('#lableContent').text("");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" type=\"hidden\" Value=\"#\">");
            }
            else if (pagetype == "2") {
                $.ajax({
                    url: "/admin/Menus/GroupsOfProduct",
                    type: "Get",
                    data: {}
                }).done(function (result) {
                    $('#lableContent').text("انتخاب گروه محصولات");
                    $('#PageContetnt').remove();
                    $('#divContetnt').html(result);
                });
            }
            else if (pagetype == "3") {
                $.ajax({
                    url: "/admin/Menus/GrouposOfNews",
                    type: "Get",
                    data: {}
                }).done(function (result) {
                    $('#lableContent').text("انتخاب گروه مطالب");
                    $('#PageContetnt').remove();
                    $('#divContetnt').html(result)
                });
            }
            else if (pagetype == "4") {
                $('#lableContent').text("");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" type=\"hidden\" Value=\"#\">");
            }
            else if (pagetype == "5") {
                $('#lableContent').text("لینک URL ");
                $('#PageContetnt').remove();
                $('#divContetnt').html("<input id=\"PageContetnt\" name=\"PageContetnt\" class=\"form-control ltr text-left \" Value=\"#\">");
            }
        }

    </script>
}